# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go coverage tool, specifically when used with LiteIDE
*.coverprofile

# Output of the go build tool
_build/

# Go workspace file
go.work

# Dependency directories
vendor/

# # Go modules
# go.sum
# go.mod

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
*.swn

# Logs
*.log

# Config files
config.yaml